body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    color:#f5f5f5;
}


.banner {
    background-color: rgb(70, 66, 67);
    text-align: center;
    color: #f5f5f5;
    padding: 50px 0;
}

.products {
    display: flex;
    justify-content: center;
    background-color: rgb(252, 249, 249);
    gap: 40px;
    padding: 30px;
}

.product {
    background-color: #f5f5f5;
    padding: 15px;
    text-align: center;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.product img {
    max-width: 100%;
    border-radius: 5px;
}




