/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
    display: flex;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #1e1d1d;
}

/* Header */
header {
  background-color: hwb(0 0% 95%);
  color: white;
  padding: 1rem;
  text-align: center;
}
header nav ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin-top: 0.5rem;
}
header nav ul li {
  margin: 0 15px;
}
header nav ul li a {
  color: white;
  text-decoration: none;
}

/* Main */
main {
  padding: 2rem;
}
.product-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.product-card {
  background-color: rgb(115, 109, 109);
  padding: 1rem;
  width: 350px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.product-card img {
  width: 100%;
  border-radius: 5px;
}
.product-card button {
  margin-top: 10px;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  border: none;
  color: rgb(26, 24, 24);
  cursor: pointer;
  border-radius: 5px;
}
.product-card button:hover {
  background-color: #0056b3;
}

/* Footer */
footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}